# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.tf-env/
.venv/
.python-version

# MacOS metadata
.DS_Store

# Ignore all model files...
*.h5
*.pkl
*.ckpt
*.tflite

# ...except the one you're using
!backend/deepfake_detection_model_final_new.h5

# System logs and temporary files
*.log
*.tmp
*.swp
*.bak

# VSCode and IDE configs
.vscode/
.idea/

# Render-specific cache
render.yaml.cache

